<!doctype html>

<html>
<head>
	<title>{{name}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
		<link href="/css/focusTym.css" rel="stylesheet">
		
	<link href="/css/bootstrap-slider.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<a href="/index"><button class="btn"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</button></a> 
		<a id="settings" href="/settings"><button align="right" class="btn"" onclick=""><i class="fa fa-cog"></i>Settings</button></a> 
		<a id='help' href='/help'>
			<button class="btn" style="float: right;"><i class="glyphicon glyphicon-question-sign"></i></button></a>
		
		<h1>{{name}}</h1>
		<hr class=a>
		<div>	
			<div style="width: 100%; display: table;">
			
			<a id="add" href="/addTask/{{name}}">
		    	<button class="btn">
					<div style="width: 100%; display: table;">
					<div class="btn btn-default friends" style="display: table-row">
		       		Add Topic 
					<i class="fas fa-plus"></i>
		       
		        	</div>
		    		</div> 
		    	</button>
				</a>

			{{#each topics}}
			<div id="{{@index}}" class="btn" style="width: 100%; display: table;">
		   
				<text id="topic_{{@index}}">{{topic}}</text>:<text id="time_{{@index}}">{{time}}</text>
				
		        {{#if priority}}
		        <a id="like" href="/sort/{{topic}}">
				 	<button class="btn" id="like">
		        		<i class="glyphicon glyphicon-circle-arrow-up" style='color:blue'></i>
		        	</button>
		        </a>
		        <font size='1' color='blue'>{{priority}} priority</font>
                {{else}}

		        <a id="like" href="/sort/{{topic}}">
				 	<button class="btn" id="like">
		        		<i class="glyphicon glyphicon-circle-arrow-up"></i>
		        	</button> priority
		        </a>
		        {{/if}}
				
				<a id="delete" href="/deleteTask/{{topic}}">
		        	<button class="btn" id="delete">
		        		<i class="fas fa-trash-alt"></i>
		        	</button>
		      	</a>

		        <a id="edit" href="/editTask/{{topic}}">
		        	<button class="btn" id="edit">
		           		<i class="fa fa-edit"></i>
		        	</button>
		        </a>
		        
		   </div>
		    {{/each}}
		    
		</div>
			</hr>
					
		<div>
			
			Current Topic: <text id="currectTopic"></text>
		</div>

		<!-- The "Time Goes Here" gets replaced by the javascript timer in focusTym.js -->
		<p id="timer"></p>
		
	
		<button class="btn" id="play"><i class="fa fa-play"></i></button><button class="btn" id="pause"><i class="fa fa-pause"></i></button><a ><button class="btn" id="nextTopic"">Next topic</button></a>
				
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/focusTym.js"></script>

	<script src="/js/bootstrap-slider.js"></script>
</body>
</html>